# 依赖目录
node_modules/

# 日志文件
logs/
*.log



# 系统文件
.DS_Store
Thumbs.db

# 编辑器配置
.vscode/
.idea/

# ESLint配置缓存
.eslintcache

# 本地文件
src/local/

# Excel输出文件
*.xlsx
output_table*.xlsx

# XML优化文件
优化文件.xml

test/
test_data/
temp-data/
temp-output/
temp-tests/
temp-files/
temp-cache/
temp-logs/
fomat-xml/
# 临时测试文件夹
src/temp-pack/
coverage/